<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <main>
            <h1>Bienvenue sur le site</h1>
            <p>C'est la page d'accueil.</p>
        </main>
        <h1>TP API SPOTIFY :</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/album/jul">Sélectionner : Albums de JUL</a></li>
                <li><a href="/track/sdm">Sélectionner : Titre de SDM</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <p>&copy; 2024 Norme RGPD et Tous les droits sont réservés.</p>
    </footer>
</body>

</html>
