<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Spotify API Demo</title>
</head>

<body>
    <div class="container">
        <h1>Bienvenue sur Spotify API Demo</h1>
        <p>Découvrez les albums et les titres de vos artistes préférés.</p>
        <form action="/album/jul">
            <button type="submit">Voir les albums de JUL</button>
        </form>
        <form action="/track/sdm">
            <button type="submit">Voir le titre de SDM</button>
        </form>
    </div>
</body>

</html>
